body {
  background-image: url("pen1.jpg");
}

form {
  margin: 150px auto;
  width: 340px;

  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 90px;
  font-size: 20px;
  font-family: Georgia;
  color: white;
  text-align: left;
  margin-bottom: 10px;
}

input {
  font: 1em sans-serif;
  width: 330px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  border: 3px solid skyblue;
  border-radius: 3px;}

input:focus {
  border-color: #000;
}

.button {
  padding-left: 110px;
}

button {
  margin-left: .5em;
  border: 3px solid skyblue;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: white;
}

@media screen and (max-width: 700px) {
  input {
    width: 70%;
    }
  label {
    display: block;
    font-size: 80%;
  }

  .button {
    padding-left: 0px;

  }
  form {
    width: 80%;
  }
  
}
