body {
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  background-image: url("pen1.jpg");
  background-repeat: no-repeat;


}
.container {
  margin:80px auto;
  width: 640px;
}
.reset {
	position: relative;
	margin :0 auto;
	padding:40px 40px 40px;
	background:#f1f1f1;
	border-radius: 5px;
	width: 360px;
	box-shadow: 5px 10px 18px #e5a877;
}
.reset:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}


.reset h1 {
	margin: -40px -40px -41px;
	line-height: 60px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 2px #e5a877;
	background: #333;
	border-bottom: 4px solid #e5a877;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 1px #e5a877;
}
.reset p {
	margin: 40px 0 0;

}
 
.reset p:first-child {margin-top: 80px;}

.reset input[type=text], input[type=password] {
	width: 300px;
	font-size:20px;
}


 .reset p.submit {
    text-align: center;
 }
 .reset p.submit input[value=Reset]{
 	color:white;
 	background-color: #333;
 	font-size:25px;
 }
 .reset p.submit input[value=Reset]:hover {
 	background-color: #f2dce9;
    color: black;
 }

@media screen and (max-width: 700px) {
    .container {
      padding: auto;
      margin: auto;
      width: 80%;
      margin-top: 20%;
    }
}

@media screen and (max-width: 600px) {

    .container {
      padding: auto;
      margin: 10% auto;
      width: 60%;
      margin-left:15%;

    }
    .reset {
      width:80%;
      margin-top:50%;
    }
    .reset h1 {
      font-size: 20px;
    }
    .reset input[type=text]   {
    width: 90%;
    font-size:15px;
  }

  .reset input[type=password] {
    width: 90%;
    font-size:15px;
  }
  .reset p.submit input[value=Reset] {
    width: 60%;
    font-size: 15px;
  }
}
